.word-wise-mask{
  border-bottom: 2px dashed #de7897;
  cursor: pointer;

}


.word-wise-typography-hover{
  font-size: 12px;
  border-radius: 4px;
  background-color: #fff;
  color: #de7897;
  margin-left: 4px;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid gray;
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
}